<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>Document</title>
</head>
<body>
    <div class="container">
        <h1 class="head" style="text-align: center; color: #1877F2;">diorder<span style="color: lime;">.</span></h1>
        <div class="box">
            <div class="title">
                <h1>Daftarkan akun baru </h1>
                <p>cepat dan mudah</p>
            </div>
            <hr>
            <form method="post" action="/daftar">
                <input name="email" type="text" placeholder="Email"><br>
                <input name="password" type="password" placeholder="Password"><br>
                <input name="username" type="text" placeholder="Username"><br>
                
                <button style="margin: 5px;">Daftar</button>
            </form>
            <a href="login"> Sudah memiliki akun?</a>
        </div>
    </div>
</body>
</html>