<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <div class="container">
        <h1 class="head" style="text-align: center; color: #1877F2;">diorder<span style="color: lime;">.</span></h1>
        <div class="box">
            <div class="title">
                <h1>Diorder login</h1>
            </div>

            <form method="post" action="/loginTest">
                <input name="name" type="text" placeholder="Username" value="andi"><br>
                <input name="password" type="password" placeholder="Password" value="qwerty"><br>
                <button type="submit" style="margin: 5px; background-color: rgb(22, 111, 229); width: 95%; font-weight: 700; padding: 12px;">Login</button>
            </form>
            <hr>
            <div class="btn">
                <button style="margin: 10px;"><a href="daftar" style="color: white; font-size:18px;">Buat Akun</a></button><br>
                  
                <a href="main">Masuk tanpa login</a>    
            </div>
        </div>
    </div>
</body>
</html>